.div_cen{
	margin: 0 auto;
	width: 1050px;
	text-align: center;
}
.can_cen{
	margin-top: 50px;
	margin-left: 150px;
}
.styled-select select {
   background: transparent;
   width: 88px;
   font-size: 14px;
   border: 1px solid #ccc;
   height: 24px;
   -webkit-appearance: none; /*for chrome*/
}