.div_cen{
	margin: 0 auto;
	width: 1050px;
	text-align: center;
}
.can_cen{
	margin-top: 50px;
	margin-left: 150px;
}
.styled-select select {
   background: transparent;
   width: 88px;
   font-size: 14px;
   border: 1px solid #ccc;
   height: 24px;
   -webkit-appearance: none; /*for chrome*/
}








  function changeDir(road_name){
    alert('gogoo');
    $.post(
        "http://localhost/getselect.php",
        {'road_name':road_name},
        function(e){
          alert(e);
          $("select[name='city']").empty();  
          //循环添加  
          for(var i = 0; i < e.length; i++) {  
            var option = $("<option>").val(e[i]).text(e[i]);  
            $("select[name='city']").append(option);  
          }  
          },
        "json");
  }
  




  $(function(){  
    var anhui_city = ["合肥", "芜湖", "蚌埠"];              
    var hebei_city = ["北京", "燕郊"];  
    var shandong_city = ["济南", "青岛"];        
    $("select[name='road_name']").change(function() {  
      var selected_value = $(this).val();     
      alert(selected_value);
      //changeDir(selected_value);
        //被选中的option                  
        if(selected_value == "select"){  
          $("select[name='city']").empty();                    
        }
        else if(selected_value == "anhui"){ //安徽  
          $("select[name='city']").empty();  
          //循环添加  
          for(var i = 0; i < anhui_city.length; i++) {  
            var option = $("<option>").val(anhui_city[i]).text(anhui_city[i]);  
            $("select[name='city']").append(option);  
          }  
        }
        
      });  
      });  




   //var  realtime_pattern = <?php echo json_encode($realtime_pattern) ?>;
  //var  historical_pattern = <?php echo json_encode($historical_pattern) ?>;
  //var  gps_pattern = <?php echo json_encode($gps_pattern) ?>;